
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.home-section{
  position: relative;
  background-color: rgb(176, 183, 216);
  height: 115vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #002741;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction:column;
  justify-content: left;
  align-items: left;
  height: fit-content;
  position: relative;
  background-color: rgb(213, 217, 233);
  box-shadow: grey 0px 0px 10px ;
  margin-bottom: 20px;
}

.box {
  display: flex;
  width: 100%;
  margin: 0 -5px;
  padding: 15px;
}

.item-1 {
  width: 20%;
  height: 50px;
  margin: 0 5px;
}

.item-2 {
  width: 100%;
  height: 50px;
  margin: 0 5px;
}

.item-3 {
  height: 50px;
  width: 15%;
  display: flex;
  flex-direction: row;
  gap:15px;
  align-items: center;

}

.item-4 {
  height: 50px;
  margin-top: 10px;
}

.item-5 {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-top: -5px;
}

.header-content {

  width: 100%;
  position: relative;
}

.button-content {
  display: flex;
  gap: 40%;
  width: 100%;
  padding: 20px;
}

.button-class {
  display:flex ;
  flex-direction: row;
  margin-top: -2%;
  width: 100%;
}

.header-content-2nd .button-content .button-class button {
  background-image: linear-gradient(#074555, #2c0041,#074550);
  color: white;
  font-size: 12px;
  width: 75px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  padding: 5px;
  height: 30px;
  display:flex ;
  flex-direction: row;
  border: none;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  border-style: outset #022f53 ;
  cursor: pointer;
}

.header-content-2nd .button-content .button-class button:hover {
  background-image: linear-gradient(#074555a4, #2c0041,#0745507c);
}
.header-content-2nd .button-content .profile-pic  {
  display: flex;
  flex-direction: row;
}

.header-content-2nd .button-content .profile-pic .welcome {
  margin-left: 20%;
}

.header-content-2nd {
  width: 100%;
  position: relative;
  height: fit-content;
}

form.action-section input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.action-section button {
  float: left;
  width: 20%;
  padding: 10px;
  background-image: linear-gradient(#074555, #2c0041,#074550);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}



form.action-section button:hover {
  background-image: linear-gradient(#074555a4, #2c0041,#0745507c);
}

form.action-section::after {
  content: "";
  clear: both;
  display: table;
}
.sidebar{
  position:absolute;
  background-image:linear-gradient(#002741, #002741, #002741) ;
  left: 0;
  height: 115vh;
  width: 260px;
  transition: all 0.5s ease;
  border:1px #053453;
  border-style: outset;
  margin-bottom: 0%;
  
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #053453;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-90deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #053453;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;

}

.main-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
}

.main-content-1st {
  width:30%;
}

.main-content-2nd {
  width: calc(75% - 50px);
  height: fit-content;
  position: relative;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}

.column {
  float: left;
  width: 40%;
  padding: 20px;
  margin-left: 6%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  border-left: solid 10px #002741;
  margin: auto;
}

.card-icon {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
  margin-bottom: -15px;
}

.side-column {
  float: left;
  width: 100%;
  padding: 20px;
  
}

.side-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 80%;
  text-align: center;
  background-color: #f1f1f1;
  height: fit-content;
  border-radius: 5px;
  border-left: solid 10px #002741;
  display: flex;
  flex-direction: column;
}

.treand {
  display: flex;
  flex-direction: row;
  align-items: left;
}

#name-tag {
  padding: 15px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side-card-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: fit-content;
  width: 80%;
  border-radius: 5px;
  border-left: solid 10px #002741;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

h1 {
  text-align: center;
}

.border-line {
  border-bottom: 1px black solid;
  width: 100%;
  margin-top:20px;
}

@media screen and (max-width: 1360px) {
  .sidebar{
    height: 190vh;
  }
  .home-section{
    height: 190vh;
  }
}
